Repository wenzhixin/bootstrap-table, pull requests merged in 2019-06, with the labels that each got.

#4383 fixed on click event for paginationVAlign 'both'
  src/constants/index.js
  src/extensions/page-jump-to/bootstrap-table-page-jump-to.js
Labels: page-jump-to

#4384 Updated methods order and docs
  site/docs/api/column-options.md
  site/docs/api/methods.md
  src/bootstrap-table.js
  src/constants/index.js
  tools/check-api.js
Labels: docs

#4385 Added an option to show a search button and an clear filter button
  site/docs/api/localizations.md
  site/docs/api/table-options.md
  site/docs/extensions/filter-control.md
  src/bootstrap-table.js
  src/constants/index.js
  src/extensions/filter-control/bootstrap-table-filter-control.js
  src/locale/bootstrap-table-af-ZA.js
  src/locale/bootstrap-table-ar-SA.js
  src/locale/bootstrap-table-ca-ES.js
  src/locale/bootstrap-table-cs-CZ.js
  src/locale/bootstrap-table-da-DK.js
  src/locale/bootstrap-table-de-DE.js
  src/locale/bootstrap-table-el-GR.js
  src/locale/bootstrap-table-en-US.js
  src/locale/bootstrap-table-es-AR.js
  src/locale/bootstrap-table-es-CL.js
  src/locale/bootstrap-table-es-CR.js
  src/locale/bootstrap-table-es-ES.js
  src/locale/bootstrap-table-es-MX.js
  src/locale/bootstrap-table-es-NI.js
  src/locale/bootstrap-table-es-SP.js
  src/locale/bootstrap-table-et-EE.js
  src/locale/bootstrap-table-eu-EU.js
  src/locale/bootstrap-table-fa-IR.js
  src/locale/bootstrap-table-fi-FI.js
  src/locale/bootstrap-table-fr-BE.js
  src/locale/bootstrap-table-fr-FR.js
  src/locale/bootstrap-table-he-IL.js
  src/locale/bootstrap-table-hr-HR.js
  src/locale/bootstrap-table-hu-HU.js
  src/locale/bootstrap-table-id-ID.js
  src/locale/bootstrap-table-it-IT.js
  src/locale/bootstrap-table-ja-JP.js
  src/locale/bootstrap-table-ka-GE.js
  src/locale/bootstrap-table-ko-KR.js
  src/locale/bootstrap-table-ms-MY.js
  src/locale/bootstrap-table-nb-NO.js
  src/locale/bootstrap-table-nl-NL.js
  src/locale/bootstrap-table-pl-PL.js
  src/locale/bootstrap-table-pt-BR.js
  src/locale/bootstrap-table-pt-PT.js
  src/locale/bootstrap-table-ro-RO.js
  src/locale/bootstrap-table-ru-RU.js
  src/locale/bootstrap-table-sk-SK.js
  src/locale/bootstrap-table-sv-SE.js
  src/locale/bootstrap-table-th-TH.js
  src/locale/bootstrap-table-tr-TR.js
  src/locale/bootstrap-table-uk-UA.js
  src/locale/bootstrap-table-ur-PK.js
  src/locale/bootstrap-table-uz-Latn-UZ.js
  src/locale/bootstrap-table-vi-VN.js
  src/locale/bootstrap-table-zh-CN.js
  src/locale/bootstrap-table-zh-TW.js
  tools/check-locale.js
Labels: reviewed

#4392 fixed bug with json object
  src/bootstrap-table.js
  src/extensions/filter-control/bootstrap-table-filter-control.js
Labels: reviewed

#4391 Added stylelint
  .stylelintrc
  .travis.yml
  package.json
  src/themes/theme.scss
  tools/package.json
Labels: css, reviewed

#4404 Fix initHeader error caused by toggleColumn
  src/bootstrap-table.js
Labels: js

#4426 Export fileName add function support
  site/docs/extensions/export.md
  src/extensions/export/bootstrap-table-export.js
Labels: export, feature

#4450 Fixed treegrid duplicate rows bug
  src/extensions/treegrid/bootstrap-table-treegrid.js
Labels: treegrid

#4456 Fixed colspan group header display bug
  src/bootstrap-table.js
  src/utils/index.js
Labels: js

#4458 Fixed table footer display bug in some case
  src/bootstrap-table.js
Labels: js
